nav {
  margin-bottom: 15px;
  img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
    @media screen and (max-width: 600px) {
      width: 250px;
    }
  }
}

#dropdown_btn {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    margin: 0 auto;
    width: 85%;
    padding: 5px;
  }
}

.btn-container {
  width: max-content;
  margin: 0 auto;
  .btn {
    // border: none;
    border: 1px solid #DD5A44;
    background-color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:active {
      // border: 1px solid white;
      cursor: pointer;
      background-color: #DD5A44;
      color: white;
    }
    &.active {
      background-color: #DD5A44;
      color: white;
    }
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  &-column-photo {
    // display: none;
    background-color: black;
    margin: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}